<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.chatapp.repository.UserMapper">

    <select id="findByUsername" resultType="com.example.chatapp.model.User">
        SELECT id, email, password
        FROM study.user_accounts
        WHERE email = #{username}
    </select>

</mapper>